.header-container {
  font-family: Arial, Helvetica, sans-serif;
  background-color: teal;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
}
.header-container .left-section {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  float: left;
  padding: 10px;
}
.header-container .right-section {
  font-family: Arial, Helvetica, sans-serif;
  float: right;
  padding:10px;
}
.header-container .right-section .logout {
  border: 0;
  border-radius: 10px;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
  float: right;
  font-size: xx-small;
}
.dashboard-body{
  margin-top:5em;
}
.dashboard-body .excel-input{
  background-color: rgb(33, 170, 175);
  border-radius: 10px;
  text-align: center;
}
.dashboard-body .excel-input input{
  color: white;
}
.dashboard-body .excel-output{
  margin: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}
.excel-upload p{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.excel-output table tr td{
  border: 1px solid black;
  border-collapse: collapse;
}